@import "/packages/bootstrap3-less/bootstrap.import.less";

@media (max-width: @screen-xs) {
  input:focus { font-size: 16px; } // prevent Auto Zoom
}

.content-all {
  .make-lg-column(12);
}
// .content-head, content-tail {
//   .make-lg-column(3);
// }
// .content-main {
//   .make-lg-column(9);
// }

.run-search, .subscribe-button {
  margin: @line-height-computed/2 auto;
}

.map-canvas {
  width: auto;
  height: 150px;
}

button {
  &.join-game, &.sign-in-inline,
  &.add-friends, &.add-comment,
  &.subscribe, &.add-game, &.edit-game,
  &.find-games {
    .btn-primary;
    .btn-lg;
    .btn-block;
  }
  &.leave-game {
    .btn-default;
    .btn-lg;
    .btn-block;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.nav-icon {
  color: @text-color;
  font-size: @font-size-h3;
}

.ppicon-basketball, .ppicon-soccer, .ppicon-ultimate,
.ppicon-add-friend {
  font-size: @font-size-large;
}

.listed-game .game-summary {
  cursor: pointer;
}

.past-games .listed-game .game-summary {
  .text-muted;
}

.whos-playing-summary, .whos-playing-editable, .comments {
  ul {
    .list-unstyled();
  }
}

.settings-cog {
  .make-xs-column(2);
}

.start-search {
  .make-xs-column(2);
}

.add-game-link {
  .pull-right();
  padding-right: @grid-gutter-width/2;
}

.settings.list-group {
  .list-group-item {
    [class*="ppicon-"] {
      float: right;
      font-size: @font-size-large;
    }
    > a {
      color: @text-color;
    }
    &[class~="trigger"] {
      cursor: pointer;
    }
    &[class~="action"] {
      background-color: @well-bg;
    }
  }
}

.tight.form-group {
  // two inputs
  input:nth-of-type(1):nth-last-of-type(2) {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input:nth-of-type(2):nth-last-of-type(1) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  // three inputs
  input:nth-of-type(1):nth-last-of-type(3) {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input:nth-of-type(2):nth-last-of-type(2) {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  input:nth-of-type(3):nth-last-of-type(1) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.dev-sign-in {
  .form-group {
  }
  .btn[type=submit] {
    .btn-primary;
    .btn-lg;
    .btn-block;
  }
}

.dev-sign-up {
  .form-group {
  }
  .btn[type=submit] {
    .btn-primary;
    .btn-lg;
    .btn-block;
  }
}
