@media (max-width: @screen-xs) {
  input, select, textarea {
    &:focus { font-size: 16px; } // prevent Auto Zoom.
  }
}

html body {
  padding-top: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  // Simulate mobile experience on larger devices
  @media (min-width: @screen-sm-min) {
    max-width: 450px;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

//App Header

.app-header {
  background-color: @brand-primary;
  line-height: 1;
  max-height: 44px;

  padding: 14px 0;
  position: relative;
  z-index: 3;

  a {
    color: @white;

    &:hover {
      opacity: .5;
    }
  }

  .title {
    color: @white;
    font-size: ceil(@font-size-base * 1.1); //16px
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    text-align: center;
  }

  .close {
    position: absolute;
  }
}

.options-main {

  .back {
    display: inline-block;
    float: left;
    margin: -2px -6px -6px 9px;
  }
}

.options-extended {
  padding-top: @font-size-base;
}

.subscribe-button {
  margin: @line-height-computed/2 auto;
}

.map-canvas {
  width: auto;
  height: 150px;
}

button {
  &.join-game, &.sign-in-inline,
  &.add-friends, &.add-comment,
  &.subscribe, &.add-game, &.edit-game,
  &.help-and-feedback,
  &.set-password, &.forgot-password,
  &.change-password, &.change-email-address {
    .btn-primary;
    .btn-lg;
    .btn-block;
  }
  &.leave-game {
    .btn-default;
    .btn-lg;
    .btn-block;
    background-color: rgba(0, 0, 0, 0.25);
  }

  &.find-games {
    .btn-header;
    .btn-lg;
    .btn-block;
  }
}

.nav-icon {
  color: @white;
  font-size: ceil((@font-size-base * 1.5));
    &.text-muted { color: @text-muted; }
}

.game-type-indicator, .ppicon-add-friend {
  font-size: @font-size-large;
  color: @brand-primary;
}

.past .game-type-indicator {
  opacity: .4;
  color: @text-muted;
}

.listed-game .game-summary {
  cursor: pointer;
  padding-bottom: 10px;
}

.past.listed-game .game-summary {
  .text-muted;
  width: 240px;
}

.place-name {
  width: 240px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.who-is-playing .text-info {
  color: @brand-primary;
}

.whos-playing-summary, .whos-playing-editable, .comments {
  ul {
    .list-unstyled();
  }
}

.whos-playing-editable {

  input+label {
    cursor: pointer;
  }

  input:checked+label {
    text-decoration: line-through;
  }
}

.settings-cog {
  float: left;
  margin: -3px @grid-gutter-width/2 -5px;
  @media (min-width: @screen-sm-min) {
    margin-left: 0;
  }
}

//Search UI

.start-search {
  .search-input();
  float: left;
  margin: -3px 0 -5px;
  width: 150px;

  .nav-icon {
    color: @brand-primary;
    font-size: ceil((@font-size-base * 1.1));
    position: absolute;
    left: 3px;
    top: 2px;
  }
}

.start-search-input {
  border-radius: @border-radius-small;
  cursor: pointer;
  font-size: @font-size-small;
  padding: 4px 0 2px 2em;
  width: 150px;
}

.exit-search {
  display: inline-block;
  float: right;
  margin: 1px @grid-gutter-width/2 0;
}

.search-input {
  display: inline-block;
  float: left;
  margin: -3px 0 -3px 15px;
  width: 72%;

  input {
    background: @brand-secondary;
    border: none;
    color: @white;
  }

  ::-webkit-input-placeholder {color: @brand-primary;}

  ::-moz-placeholder {color: @brand-primary;}

  :-ms-input-placeholder {color: @brand-primary;}

  .get-current-location {
    border: 1px solid @brand-secondary;
    padding: 0 12px;
  }

  .form-control {
    height: 22px;
    padding: 1px 12px;
    @media (min-width: @screen-xs) {
      font-size: @font-size-small;
    }
  }
}

.add-game-link {
  .pull-right();
  margin-right: @grid-gutter-width/2;
  @media (min-width: @screen-sm-min) {
    margin-right: 0;
  }
}

.settings {

  .list-group-item {
    color: @brand-primary;
    padding: 15px;

    [class*="ppicon-"] {
      float: right;
      font-size: @font-size-large;
    }
    > a {
      color: @text-color;
    }
    &:last-child {
      border-bottom-width: 0;
    }
    &[class~="trigger"] {
      cursor: pointer;
    }
    &[class~="action"] {
      background-color: @well-bg;
    }

    form {
      color: @gray-dark;
    }
  }
}


.tight.form-group {
  // two inputs
  input:nth-of-type(1):nth-last-of-type(2) {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input:nth-of-type(2):nth-last-of-type(1) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  // three inputs
  input:nth-of-type(1):nth-last-of-type(3) {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input:nth-of-type(2):nth-last-of-type(2) {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  input:nth-of-type(3):nth-last-of-type(1) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

// Address mismatch between .list-group-item padding (10px)
// and .form-group margin-bottom (15px)
// in the case of no <p> or <hx> preceding first .form-group
form > .form-group:first-child { margin-top: 5px; }

.dev-sign-in {
  .form-group {
  }
  .btn[type=submit] {
    .btn-primary;
    .btn-lg;
    .btn-block;
  }
}

.dev-sign-up {
  .form-group {
  }
  .btn[type=submit] {
    .btn-primary;
    .btn-lg;
    .btn-block;
  }
}

.dev-detail-nav {
}

.dev-detail-body {
  .join-or-leave, .game-summary, .organizers-note, .whos-playing-summary {
    margin: 10px 0;
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }
}

.dev-detail-body .comments {
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
}

.back-to-list, .game-type-indicator, .share-game-link {
  display: inline-block;
  float: left;
}

.back-to-list {
  padding-left: @grid-gutter-width/2;
  @media (min-width: @screen-sm-min) {
    padding-left: 0;
  }

  .nav-icon {
    margin: -3px 0 -6px -6px;
  }
}

.share-game-link {
  float: right;
  margin-right: @grid-gutter-width/2;
  @media (min-width: @screen-sm-min) {
    margin-right: 0;
  }

  .nav-icon {
    font-size: @font-size-base*1.1;
    margin: 0 6px -6px;
  }
}

.edit-game-link {
  display: inline-block;
  float: right;
  margin: 0 15px 0 0;
  @media (min-width: @screen-sm-min) {
    margin: 0 0 0 15px;
  }
}

.dev-detail-nav .game-type-indicator {
  /* This is a hacky way to center align; needs different solution */
  margin-left: 70px;
  display: none;
}

.dev-detail-body .add-friends-link {
  display: inline-block;
  position: absolute;
  top: 165px;
  right: 1px;
}

.join-game-link, .listed-game .add-friends-link {
  display: inline-block;
  position: absolute;
  top: 32px;
  right: 1px;
}

.join-game-link a, .ppicon-add-friend {
  padding: 20px;
}

.listed-game .game-summary {
  display: inline-block;
  padding-left: 10px;
  width: 200px;
}

.listed-game .game-type-indicator {
  float: left;
  margin-top: 20px;
}

.list-group:first-child {
  border-top-left-radius:  0;
  border-top-right-radius: 0;
}
.list-group:last-child {
  border-bottom-left-radius:  0;
  border-bottom-right-radius: 0;
}

.select-game-types {
  background: @brand-primary;
  padding: 10px 15px 0;

  label {
    color: @white;
    text-transform: capitalize;
    margin: 5px 0;
  }

  input[type='checkbox'] {
    float: left;
    margin-right: @font-size-base;
    margin-top: -1px;
  }
}

.run-search {
  background: @brand-primary;
  padding: 10px 15px;
}

.listed-game {
  padding-bottom: 0;
}

.listed-game .add-players {
  margin: 0 -15px;
}

.add-self-and-friends {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}

.add-friends.well {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}

.add-self-and-friends .close, .add-friends.well .close {
  margin-top: -9px;
  padding: 8px;
}

.add-info-or-sign-in {
  margin-top: 0;
}

.subscribe {
  padding: 0 10px;
}

.subscribe-detail {
  padding-top: 10px;
  padding-left: 15px;
  margin-right: 15px;
}

.subscribe-detail:first-letter {
 text-transform: capitalize;
}

.settings .user-info {
  .user-full-name {
    color: @gray-dark;
    margin-bottom: 5px;
  }
  .user-email-address {
    .text-muted;
  }
  .send-verification-email {
    color: @brand-primary;
  }
}

.form-control {
  .box-shadow(none);
  -webkit-appearance: none;
}

.form-control#gameDay {
  display: inline-block;
  float:left;
  margin-right:15px;
  width: 55%;
}

.form-control#gameTime {
  width: 40%;
}

label[for="requestedNumPlayers"] {
  display: inline-block;
  float: left;
  margin-top: 8px;
  margin-right: 15px;
}

.form-control#requestedNumPlayers {
  display: inline-block;
  width: 33%;
}

#addGame .close {
  margin: -3px @grid-gutter-width -4px @grid-gutter-width/2;
  @media (min-width: @screen-sm-min) {
    margin-left: @grid-gutter-width/2;
  }
}

#editGame .close {
  #addGame .close();
}

.game-when {
  display: inline-block;

  .day {
    font-weight: bold;
  }
}

.add-comment .form-group {
  margin-left: 15px;
  margin-right: 15px;
}

.copy-game-link {
  .pull-left();
  width: 100%;
  margin-left: @grid-gutter-width/2;
  @media (min-width: @screen-sm-min) {
    margin-left: 0;
  }
}

.copy-game-link input {
  background: @brand-secondary;
  border: 0;
  border-radius: @border-radius-small;
  color: @white;
  font-size: @font-size-small;
  margin-top: 15px;
  padding: 3px 12px;
  width: 85%;
}

.copy-game-link .close {
  margin: 15px 0 0 5px;
}

////
// Overrides to /packages/nprogress/nprogress/nprogress.css
// Replace `#29d` with `@brand-primary`.
////

#nprogress .bar {
  background: @brand-primary;
}

#nprogress .peg {
  box-shadow: 0 0 10px @brand-primary, 0 0 5px @brand-primary;
}

#nprogress .spinner-icon {
  border-top-color: @brand-primary;
  border-left-color: @brand-primary;
}

div .cancel-game {
  margin: 15px;
}

//Overlay (seen when settings is toggled)
.overlay {
  background: fade(@gray-darker, 50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

