@import "/packages/bootstrap3-less/bootstrap.lessimport";

.findings-map-canvas {
  width: auto;
  height: 150px;
}

button {
  &.join-game, &.sign-in-inline, &.add-friends {
    .btn-primary;
    .btn-lg;
    .btn-block;
  }
}

.listed-game .game-summary {
  cursor: pointer;
}