@import "/packages/bootstrap3-less/bootstrap.import.less";

.mobile-simulator {
  .make-lg-column(2);
  .center-block();
  max-width: 320px;
}

.map-canvas {
  width: auto;
  height: 150px;
}

button {
  &.join-game, &.sign-in-inline,
  &.add-friends, &.add-comment,
  &.subscribe, &.add-game, &.edit-game {
    .btn-primary;
    .btn-lg;
    .btn-block;
  }
  &.leave-game {
    .btn-default;
    .btn-lg;
    .btn-block;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.ppicon-search, .ppicon-cancel, .ppicon-cog {
  color: @text-color;
  font-size: @font-size-large;
}

.ppicon-basketball, .ppicon-soccer, .ppicon-ultimate,
.ppicon-add-friend {
  font-size: @font-size-large;
}

.listed-game .game-summary {
  cursor: pointer;
}

.past-games .listed-game .game-summary {
  .text-muted;
}

.whos-playing-summary, .whos-playing-editable, .comments {
  ul {
    .list-unstyled();
  }
}