<template name="searchInput">
  <div class="search-input-container">
      {{#if SEql 'searching' 'after'}}
        <a class="search-input truncate">
          {{selected_city}}
        </a>
      {{else}}
        {{#if SEql 'searching' 'during'}}
          <input type="search" class="search-input" placeholder="Search City" required value="{{selected_city}}" autofocus />
        {{else}}
          <input type="search" class="search-input" placeholder="Search City" required value="" autofocus />
        {{/if}}
      {{/if}}
  </div>
</template>