<template name="setLocation">
  {{#if showSetLocation}}
    
    {{#if locationFailed}}
      {{> locationFailedTemplate}}
    {{/if}}

    {{#if locationObtained}}
    
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Location saved! It can be updated in settings :)
      </div>
    
    {{else}} {{#if locationPending}}
      <div class="set-location">
        <span class="detecting subtitle">Detecting location...</span>
      </div>
    {{else}}

    {{#if locationUnknown}}

      <div class="set-location">
      {{#if currentUser}}
        <h2>Set your location</h2>
        <span class="subtitle">We'll ask you for it just this once to <br/>
        show you games within an hour drive.</span>
      {{else}}
        <h2>Want to get a pickup game?</h2>
        <span class="subtitle">We need to know your location to help find<br/>
        games near you.</span>
      {{/if}}

        <a href="#" class="location-link"><i class="fa fa-location-arrow"></i></a>
        <span class="small-subtitle">Find my location</span>
      </div>
    
    {{/if}}{{/if}}{{/if}}
  {{/if}}  
</template>

<template name="locationFailedTemplate">
  <div class="set-location">

    <h2>Oops! We couldn't find your location automatically.</h2>

    Please add your location:
    <div class="select-location">
      <div class="input-group">
        <input class="form-control location" type="text" placeholder="Enter City"
               required>
        <span class="input-group-addon">
          <span class="ppicon-location"></span>
        </span>
      </div>
<!--           <button class="btn update-location" type="submit">Save my location</button>
--> </div>
  </div>
</template>