<template name="devDetailBody">
  <div class="dev-detail-body row">
    <div class="content-all">
      {{> alerts where=_id}}
      <!-- {{> subscribeAfterJoined}} -->
      {{> soloGameMap}}
      {{> soloGameSummary}}
      {{#unless past startsAt}}
        {{> addPlayers}}
        {{> joinOrLeave}}
      {{/unless}}
      {{> organizersNote}}
      {{#unless past startsAt}}
        {{> whosPlayingSummary}}
      {{/unless}}
      {{> comments}}
      {{#unless old startsAt}}
        {{> addComment}}
      {{/unless}}
    </div>
  </div>
</template>