<template name="soloGameSummary">
  <div class="game-summary">
    {{#if organizing}}
      <strong class="text-{{#if past startsAt}}muted{{else}}info{{/if}}">
        {{participle startsAt past='Organized' present='Organizing'}}
      </strong>
    {{else}}
      {{#if playing}}
        <strong class="text-{{#if past startsAt}}muted{{else}}info{{/if}}">
          {{participle startsAt past='You Played' present='You\'re Playing'}}
        </strong>
      {{/if}}
    {{/if}}
    <span class="game-type">{{type}}</span> {{> gameWhen}}
    {{> whoIsPlaying}}
    <div class="place">
      <div class="place-name">
        {{placeName}}
      </div>
      <div class="place-location">{{placeLocation}}</div>
    </div>
  </div>
</template>
