<template name="soloGameSummary">
  {{> gameTypeIndicator}}
  <div class="game-summary">
    <span class="game-type">{{#if organizing}}
      <strong class="text-info">
        {{participle startsAt past='You Organized' present='You\'re Organizing'}}
      </strong>
    {{else}}
      {{#if playing}}
        <strong class="text-info">
          {{participle startsAt past='You Played' present='You\'re Playing'}}
        </strong>
      {{/if}}
    {{/if}}
    {{type}}</span> {{#unless past startsAt}}{{> gameWhen}}{{/unless}}
    {{> whoIsPlaying}}
    <div class="place">
      <div class="place-name">
        {{placeName}}
      </div>
      <div class="place-location">{{placeLocation}}</div>
    </div>
  </div>
  <div class="game-location-icon">
    <span class="ppicon-location"></span>
  </div>
</template>
