<template name="inviteFriendsInput">
  {{#each friends}}
    <p class="form-heading">Invite friends</p>
    <div class="tight form-group">
      <input type="text" class="form-control friend-name"
             placeholder="Friend's name"
             value="{{name}}" id="{{_id}}"
             required autofocus>
      <input type="email" class="form-control friend-email"
             placeholder="Friend's email"
             value="{{email}}" id="{{_id}}">
    </div>
  {{/each}}
  <div class="form-group">
    <p class="form-control-static">
      <a class="add-another-friend">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add friend to invite</a>
    </p>
  </div>
</template>