<template name="whoIsPlaying">
  <div class="who-is-playing">
    {{#if organizing}}
        {{#unless past startsAt}}
          {{numNeeded}} needed
        {{else}}
          {{numOthers}} played {{#if past startsAt}}{{fromNow}}{{/if}}
        {{/unless}}
    {{else}}
      {{#if playing}}
        {{#unless past startsAt}}
          {{numNeeded}} needed
        {{else}}
          {{numOthers}} played {{#if past startsAt}}{{fromNow}}{{/if}}
        {{/unless}}
      {{else}}
        {{players.length}}
        {{participle startsAt past='played' present='playing'}}
        {{#unless past startsAt}}({{numNeeded}} needed){{/unless}}
        {{#if past startsAt}}{{fromNow}}{{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
