<template name="whoIsPlaying">
  <div class="who-is-playing">
    {{#if organizing}}
      <strong class="text-{{#if past startsAt}}muted{{else}}info{{/if}}">
        {{participle startsAt past='Organized' present='Organizing'}}
      </strong>
        {{#unless past startsAt}}
          + {{numNeeded}} needed
        {{else}}
          for {{numOthers}} others
        {{/unless}}
    {{else}}
      {{#if playing}}
        <strong class="text-{{#if past startsAt}}muted{{else}}info{{/if}}">
          {{participle startsAt past='Played' present='Playing'}}
        </strong>
        {{#unless past startsAt}}
          + {{numNeeded}} needed
        {{else}}
          with {{numOthers}} others
        {{/unless}}
      {{else}}
        {{players.length}}
        {{participle startsAt past='played' present='playing'}}
        {{#unless past startsAt}}({{numNeeded}} needed){{/unless}}
      {{/if}}
    {{/if}}
  </div>
</template>