<template name="devNav">
  <div class="app-header">
    <div class="container">
      {{> optionsMain}}
      {{> optionsExtended}}
    </div>
      {{> searchExtended}}
  </div>
</template>

<!-- Old code #unused -->
<template name="navbar">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}">
        Push Pickup
        <span class="label label-info">BETA</span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{> userDropdown}}
      </ul>
    </div>
  </div>
</template>