<template name="settings">
  <ul class="settings list-group">
    {{> alerts where="settings"}}
    {{#if currentUser}}
      <li class="user-info list-group-item">
        <div class="user-full-name">
          {{currentUser.profile.name}}
        </div>
        <div class="user-email-address">
          {{currentUser.emails.[0].address}}
          {{#unless currentUser.emails.[0].verified}}
            (<a class="send-verification-email text-info">verify</a>)
          {{/unless}}
        </div>
      </li>
      <!-- {{> settingsItem name="subscriptions"}} -->
      {{> settingsItem name="change-email-address"}}
      {{> settingsItem name="change-password"}}
      {{> settingsItem name="change-location"}}
      {{> settingsItem name="help-and-feedback"}}
      <li class="list-group-item">
        <!-- "Free" option requires this embedding and limits to four
             "services"; luckily, we only collect personal data in
             conjunction with the four services I selected (from all ~ 200
             that Iubenda lists).
             DW 2014/04/01
          -->
        <a href="https://www.iubenda.com/privacy-policy/142379" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </li>
      <li class="sign-out trigger list-group-item">Sign Out</li>
    {{else}}
      {{> settingsItem name="sign-in"}}
      {{> settingsItem name="sign-up"}}
      {{#if SGet 'set-password-token'}}
        {{> settingsItem name="set-password"}}
      {{else}}
        {{> settingsItem name="forgot-password"}}
      {{/if}}
      {{> settingsItem name="change-location"}}
      {{> settingsItem name="help-and-feedback"}}

      <!-- This is a hack. I intend to move this into a template, but need to take a little to do it correctly. - SM -->
      <li class="list-group-item">
        <!-- "Free" option requires this embedding and limits to four
             "services"; luckily, we only collect personal data in
             conjunction with the four services I selected (from all ~ 200
             that Iubenda lists).
             DW 2014/04/01
          -->
        <a href="https://www.iubenda.com/privacy-policy/142379" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </li>
    {{/if}}
  </ul>
</template>