<template name="listOfGames">
  <ul class="list-of-games list-group">
    {{#if currentUser}}
      {{#each userOrganizingUpcoming}}
        {{> listedGame}}
      {{/each}}
      {{#each userPlayingUpcoming}}
        {{> listedGame}}
      {{/each}}
    {{/if}}

    {{#each nonuserUpcoming}}
      {{> listedGame}}
    {{/each}}

    {{#if SGet 'gamesReady'}}
      {{#if noneUpcoming}}
        <li class="list-group-item">
          There are no upcoming games
          {{#if SGet 'search-results'}}
            in this region.
          {{else}}
            within {{maxDistance}}.
          {{/if}}
          You should <a href="/addGame">add a game</a> and invite your friends!
        </li>
      {{/if}}
    {{else}}
      <li class="list-group-item">
        {{> spinner}}
      </li>
    {{/if}}

    {{#each pastGames}}
      {{> listedGame}}
    {{/each}}

    {{> loadMoreGames}}
  </ul>
  {{#if SGet 'viewing-settings'}}
    <div class="overlay"></div>
  {{/if}}
</template>