<template name="devChangeEmailAddress">
  <form class="change-email-address" role="form">
    <div class="tight form-group">
      <p class="form-header">Add your new email address and we'll send you
      a verification email.</p>
      <input type="email" class="form-control"
             placeholder="Your new email address" required autofocus>
      <!-- Session 'strange-passwd' only supplied during first session -->
      <input type="password" class="form-control"
             value="{{SGet 'strange-passwd'}}"
             placeholder="Your password" required>
    </div>
    {{> alerts where="changeEmailAddress"}}
    <button class="btn change-email-address" type="submit">
      Update my email address
    </button>
  </form>
</template>