<template name="devChangePassword">
  <form class="change-password" role="form">
    <div class="tight form-group">
      <!-- Session 'strange-passwd' only supplied during first session -->
      <input type="password" class="old-password form-control"
             value="{{SGet 'strange-passwd'}}"
             placeholder="Current password" required autofocus>
      <input type="password" class="new-password form-control"
             placeholder="New password" required>
    </div>
    {{> alerts where="changePassword"}}
    <button class="btn change-password" type="submit">Change password</button>
  </form>
</template>

<!-- Old code? -->
<template name="changePassword">
  {{#if currentUser}}
    <form class="form-accounts change-password" role="form">
      <h3 class="form-heading">Change password</h3>
      <div class="form-group {{error}}">
        <!-- strangePassword only supplied during first session -->
        <input type="password" class="old-password password form-control"
               value="{{strangePassword}}"
               placeholder="Current Password" required autofocus>
        <input type="password" class="new-password password form-control"
               placeholder="New Password" required>
      </div>
      {{{alerts}}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">OK</button>
    </form>
  {{else}}
    <p class="lead">You must {{#link route="signIn"}}sign in{{/link}}
      to change your password.</p>
  {{/if}}
</template>