<template name="devForgotPassword">
  <form class="dev-forgot-password" role="form">
    <p class="form-heading">Get a link to reset your password:</p>
    <div class="form-group">
      <input type="email" class="form-control"
             placeholder="Your email" required autofocus>
    </div>
    {{> alerts where="forgotPassword"}}
    <button class="btn forgot-password" type="submit">Send reset link</button>
  </form>
</template>

<!-- Old Code? -->
<template name="sendResetPasswordEmail">
  <form class="form-accounts get-reset-link" role="form">
    <h3 class="form-heading">Get link to set password</h3>
    <div class="form-group {{error}}">
      <input type="email" class="email form-control"
             placeholder="Email address" required autofocus>
    </div>
    {{{alerts}}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">OK</button>
  </form>
</template>