<template name="devSetPassword">
  <form class="dev-set-password" role="form">
    <p class="form-heading">Set your password:</p>
    <div class="form-group">
      <input type="password" class="form-control"
             placeholder="Your new password" required autofocus>
    </div>
    {{> alerts where="setPassword"}}
    <button class="btn set-password" type="submit">Set password</button>
  </form>
</template>

<!-- Old code? -->
<template name="setPassword">
  <div class="accounts-actions">
    {{#if badToken}}
      {{> sendResetPasswordEmail}}
    {{else}}
      <form class="form-accounts set-password" role="form">
        <h3 class="form-heading">Please set password</h3>
        <div class="form-group {{error}}">
          <input type="password" class="password form-control"
                 placeholder="Password" required autofocus>
        </div>
        {{{alerts}}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">OK</button>
      </form>
    {{/if}}
  </div>
</template>