<template name="devBody">
  {{> coverPhoto }}
  <div class="container">
    {{> alerts where="main"}}
    {{#if SEql 'searching' 'not'}}
      {{> setLocation}}
      {{> listHeader}}
      {{> listOfGames}}
    {{else}}
      {{#if SEql 'searching' 'after'}}
        {{> findingsMap}}
        <!-- {{> subscribe}} -->
        {{> searchQuery}}
        {{> listOfGames}}
      {{else}}
        {{#if SGet 'search-results'}}
          {{> findingsMap}}
          <!-- {{> subscribe}} -->
          {{> searchQuery}}
          {{> listOfGames}}
        {{else}}
          {{> listOfGames}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>