<template name="devHelpAndFeedback">
  <form class="dev-help-and-feedback" role="form">
    <p class="form-heading">What kind of feedback are you sending?</p>
    <div class="form-group">
      <div class="radio">
        <label>
          <input type="radio" name="feedback" value="question" checked>
          Question
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="feedback" value="suggestion">
          Suggestion
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="feedback" value="bug-report">
          Bug report
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="feedback" value="love">
          Love
        </label>
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button class="btn help-and-feedback" type="submit">Send</button>
  </form>
</template>