<template name="setLocation">
  <div class="set-location">

    {{#if currentUser}}
      <h2>Set your location</h2>
      <span class="subtitle">We'll ask you for it just this once to <br/>
      show you games within an hour drive.</span>
    {{else}}
      <h2>Want to get a pickup game?</h2>
      <span class="subtitle">We need to know your location to help find<br/>
      games near you.</span>
    {{/if}}

    <a href="#" class="location-link"><i class="fa fa-location-arrow"></i></a>

    <span class="small-subtitle">Find my location</span>

  </div>
</template>