<template name="invitePreviousPlayers">
	<div id="invitePreviousPlayers">
		<div class="app-header">
      <div class="container">
        <div class="back-to-list">
			    <a href="#">
			      <span class="app-header-icon ppicon-left-open"></span>
			      <label>Add Game</label>
			    </a>
			  </div>
      </div>
    </div>
    <div class="container">
			<ul class="list-group">
				<li class="list-group-item">
					This is where you'll be able to invite players that have previously joined games you've organized.
				</li>
			</ul>
    	
    </div>
	</div>
</template>